@page "/"
@using System.Text.Json
@inject HttpClient HttpClient

<h1>Editing</h1>
<h3>Change the unit price to a negative value to display the error from the Web API service.</h3>
<DxGrid Data="Products" KeyFieldName="ProductId"
        EditNewRowPosition="GridEditNewRowPosition.Bottom"
        EditStart="Grid_EditStart"
        EditModelSaving="Grid_EditModelSaving">
    <Columns>
        <DxGridCommandColumn DeleteButtonVisible="false" />
        <DxGridDataColumn FieldName="ProductName" />
        <DxGridDataColumn FieldName="UnitPrice" />
        <DxGridDataColumn FieldName="Discontinued" />
    </Columns>
    <EditFormTemplate Context="editFormContext">
        <DxFormLayout>
            <DxFormLayoutItem Caption="Name">
                @editFormContext.GetEditor("ProductName")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Price">
                @editFormContext.GetEditor("UnitPrice")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Discontinued">
                @editFormContext.GetEditor("Discontinued")
            </DxFormLayoutItem>
            @if (String.IsNullOrEmpty(MyErrorMessage) == false) {
                <DxFormLayoutItem ColSpanMd="12">
                    <div style="color:red">@MyErrorMessage</div>
                </DxFormLayoutItem>
            }
        </DxFormLayout>       
    </EditFormTemplate>
</DxGrid>

@code {
    const string ProductsUrl = "https://localhost:31388/api/Products/";
    List<Products> Products { get; set; }
    string MyErrorMessage { get; set; }

    protected override async Task OnInitializedAsync() {
        Products = await LoadDataAsync();
    }
    void Grid_EditStart(GridEditStartEventArgs e) {
        MyErrorMessage = null;
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e) {
        MyErrorMessage = null;
        var editedProduct = (Products)e.EditModel;
        var httpContent = ConvertProductToHttpContent(editedProduct);
        var response = e.IsNew == false
            ? await HttpClient.PutAsync(ProductsUrl + editedProduct.ProductId, httpContent)
            : await HttpClient.PostAsync(ProductsUrl, httpContent);
        if (response.IsSuccessStatusCode) 
            Products = await LoadDataAsync();
        else {
            e.Cancel = true;
            MyErrorMessage = await response.Content.ReadAsStringAsync();
        }
    }
    async Task<List<Products>> LoadDataAsync() {
        var stream = await HttpClient.GetStreamAsync(ProductsUrl);
        return await JsonSerializer.DeserializeAsync<List<Products>>(stream, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
    }
    HttpContent ConvertProductToHttpContent(Products product) {
        var content = JsonSerializer.Serialize<Products>(product);
        return new StringContent(content, System.Text.Encoding.UTF8, "application/json");
    }
}

